
@media (min-width: 992px) { 
    body {
        max-width: 80%;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
 }


/*Changed default Navbar Styles*/

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: green;
}

/* Styled carousel images */

.carousel-images {
    height: 40vh;
}

/* Welcome style div */

#shamrock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50%;
}

.h2-custom {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.h6-custom {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.images-div{
    padding: 0px;
}

.place-images {
    height: 40vh;
}

.places-style {
    background-color:#4a4a4a;
    color: #fff;
}

.place-names {
    margin-top: 15px;
    margin-bottom: 15px;
}

.p-style{
    text-align: justify;
    margin-bottom: 60px;
}

.btn-left{
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin-top: 5px;
    background: none;
    border: none;
    color: #fff;
}

.btn-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-top: 5px;
     background: none;
    border: none;
    color: #fff;
}

.btn-left:hover{
    background-color: green;
}

.btn-right:hover {
    background-color: green;
}





