/* Makes max width of page 80% of page on screen 992px and larger*/
@media (min-width: 992px) { 
    body {
        max-width: 80%;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
 }

html {
  scroll-behavior: smooth;
}

/*Changed default Navbar Styles*/

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: green;
}

/* Styled carousel images */

.carousel-images {
    height: 40vh;
}

/* Welcome style div */

#shamrock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50%;
}

/* Style for Places div*/

.h2-custom {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.h6-custom {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.places-div{
    padding: 0px;
}

.places-images {
    height: 40vh;
}

.places-style {
    background-color:#4a4a4a;
    color: #fff;
}

.place-names {
    margin-top: 15px;
    margin-bottom: 15px;
}

.p-style{
    text-align: justify;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .p-style {
    text-align: justify;
    margin-bottom: 60px;
    margin-top: 60px;
    }
 }



.btn-left{
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin-top: 5px;
    background: none;
    border: none;
    color: #fff;
}

.btn-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-top: 5px;
    background: none;
    border: none;
    color: #fff;
}

.btn-left:hover{
    background-color: green;
}

.btn-right:hover {
    background-color: green;
}

/* Styles for Search Div*/

.search-style {
    margin-bottom: 60px;
}

.search-heading {
    margin-top:30px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.p-search {
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
}

.search-image{
    height: 50px;
    width: 50px;
}
.search-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 3%;
    width: 25.33%;
    background: none;
    border: none;
}

/* Style the active class, and buttons on mouse-over */
.active {
    background:green;
 }
.inactive{
    background:white;
}



/*---Map Style---*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      .map-style {
          padding: 0px;
      }
      
      table {
        font-size: 12px;
      }
      .hotel-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
      #map {
        width: 100%;
        height: 400px;
      }

      .places-image {
        display: inline-block;
        vertical-align: middle;
        margin: 3%;
        width: 50.33%;
        height: 70px;
      }

      #listing {
        position: absolute;
        width: 40%;
        height: 95%;
        overflow: auto;
        margin-top: 0px;
        left: 0px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }

      #findhotels {
        font-size: 14px;
      }
      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        margin: 0 8px;
      }
      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
        }

      /* changed padding to info content */
      #info-content{
          z-index: 2;
          padding: 0px;
      }
      
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
/* Form Styles */

.form-bgimage{
    background: url('../images/contactus.jpg') no-repeat bottom right fixed;
    height: 100%; 
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-style {
    color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-info:hover{
    background-color: green;
}

/* Footer Custom Styles */

.footer-custom  {
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}


.social-custom {
    color: #fff;
}

.social-custom:hover{
    color: #d3d3d3;
}

.design-custom {
    font-size: 0.8em;
}




